/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes triangle {
    0% {
      left: -20px;
    }
    100% {
      left: -16px;
    }
  }

/*Кнопка_like-icon*/
.card__icon-button {
    background-color: transparent;
    border: none;
    outline: 2px solid transparent;
    transition: outline 0.3s ease;
    cursor: pointer;
    display: flex;
    padding: 0;
    margin-right: 7px;
    padding-bottom: 0;
    grid-column-start: col3;
    grid-row-start: start;
  }

.like-icon {
  display: flex;
  justify-content: left;
  align-items: center;
}

  .card__icon-button:focus {
    outline: none;
  }
  
  .card__icon-button:focus-visible {
    outline: 2px solid var(--accent-color);
    outline-offset: -2px;
  }
  
  .card__icon-button .heart .core {
    fill: transparent;
    transition: fill 0.3s 0.03s;
  }

.card__icon-button .heart .main-body {
  fill: transparent;
  transition: fill 0.3s;
}
 
  /*hover*/
  .card__icon-button:hover .heart .main-body {
    fill: var(--countour-color);
    transition: fill 0.3s 0.05s;
  }
  
  .card__icon-button:hover .heart .core {
      fill: var(--countour-color);
      transition: fill 0.3s;
  }
  
  /*active*/
  .card__icon-button:active .heart .main-body {
    fill: var(--sparks-color);
    transition: fill 0.3s 0.05s;
  }

  .card__icon-button:active .heart .core {
    fill: var(--sparks-color);
    transition: fill 0.3s;
  }
  
  /*click*/
  .like-icon.is-liked .heart .main-body {
    fill: var(--sparks-color);
    transition: fill 0.3s 0.05s;
  }
  
  .like-icon.is-liked .heart .contour {
    transition: fill 0.3s 0.06s;
    fill: var(--sparks-color);
  }
  
  .like-icon.is-liked .heart .core {
    transition: fill 0.3s;
    fill: var(--sparks-color);
  }
  
  .like-icon.is-liked .heart {
    animation-name: heartbeat;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
    animation-delay: 0.1s;
    animation-direction: alternate;
    animation-iteration-count: 1;
  }
  
  .like-icon.is-liked .sparks {
    animation-name: sparkFlash;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
    animation-delay: 0.3s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    }  


@keyframes heartbeat {
    0% {
      transform: scale(1);
  }
  100% {
      transform: scale(1.2);
  }
  }
  
  @keyframes sparkFlash {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }