/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    /*fonts*/
    --main-font: 'Inter-Flex-Variable';
    --secondary-font: 'Press Start 2P';
    --font-wght-title: 700;
    --font-wght-text: 400;
    --font-opsz: 18;
    --accent-color: #000000;
    --accent-color-opacity: rgb(0,0,0,0.6);
    --font-size-press-samaller: 0.875rem;
    --font-color-button-reverse: #ffffff;
    --accent-color-floppy: #000000;
    /*bg*/
    --bg-color: #FFFFFF;
    --bg-image: url(../images/background-light.png);
    /*gradients-bg*/
    --first-gradient-bg-one: #d3d3d3;
    --second-gradient-bg-first: #e7e7e7;
    --second-gradient-bg-second: #1a1a1a;
    --background-light: #ffffff;
    --background-dark: #000000;
    --stripe-color-light: #d3d3d3;
    --stripe-color-tr: transparent;
    --picture-text-stroke: #FFFFFF;
    /*proportions*/
    --width-main-desktop: 43.5rem;
    --width-main-mobile: 23.4375rem;
    /*heart-icon*/
    --countour-color: #000000;
    --sparks-color: #FF0000;
}